package org.esa.snap.tango;

import javax.swing.ImageIcon;
import java.net.URL;
import java.util.HashMap;
import java.util.Map;


/**
 * @author Norman Fomferra
 */
@SuppressWarnings("UnusedDeclaration")
public final class TangoIcons {

    public enum Res {
        R16("16x16"),
        R22("22x22"),
        R32("32x32");

        private final String name;

        Res(String name) {
            this.name = name;
        }

        @Override
        public String toString() {
            return name;
        }
    }

    public final static Res R16 = Res.R16;
    public final static Res R22 = Res.R22;
    public final static Res R32 = Res.R32;

${code}

    private static Map<Res, Map<String, ImageIcon>> map;

    static {
        map = new HashMap<>();
        map.put(R16, new HashMap<>());
        map.put(R22, new HashMap<>());
        map.put(R32, new HashMap<>());
    }

    private TangoIcons() {
    }

    private static ImageIcon getIcon(String name, Res res) {
        Map<String, ImageIcon> m = map.get(res);
        ImageIcon imageIcon = m.get(name);
        if (imageIcon == null) {
            String resourceName = "/tango/" + res + "/" + name;
            URL resourceUrl = TangoIcons.class.getResource(resourceName);
            if (resourceUrl == null) {
                throw new IllegalArgumentException("Resource not found: \"" + resourceName + "\"");
            }
            imageIcon = new ImageIcon(resourceUrl);
            m.put(name, imageIcon);
        }
        return imageIcon;
    }
}