# Maven output
target

# IntelliJ IDEA project files
.idea
*.iml
*.ipr
*.ims

# JVM crash reports
hs_err_pid*

# NetBeans configuration
nb-configuration.xml

Thumbs.db

Igno
userdir/

# vscode
.project
.settings
.classpath
.factorypath
.vscode
launch.sh
snap-desktop.sh
gpt.sh
*~
/snap-main/dependency-reduced-pom.xml
